body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #0d0d0d;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #1e90ff44;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1e90ff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url("images/logoa.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    color: #1e90ff;
    text-shadow: 0 0 10px #1e90ffaa;
}

.hero-content p {
    font-size: 1.2rem;
    color: #dcdcdc;
}

.button {
    background: #1e90ff;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px #1e90ff88;
    transition: 0.3s;
}

.button:hover {
    background: #0f6fcc;
    box-shadow: 0 0 15px #1e90ffcc;
}

/* Section */
.section {
    text-align: center;
    padding: 60px 20px;
}

h2 {
    color: #1e90ff;
    text-shadow: 0 0 10px #1e90ff55;
}

/* Rides */
.ride-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ride-card {
    width: 300px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e90ff77;
    box-shadow: 0 0 12px #1e90ff22;
}

.ride-card h3 {
    color: #1e90ff;
    margin-bottom: 10px;
}

/* Team */
.team-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card {
    width: 250px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 12px #1e90ff22;
    border: 1px solid #1e90ff55;
}

.team-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #1e90ff55;
}

/* Footer */
footer {
    padding: 20px;
    background: black;
    text-align: center;
    color: #1e90ffbb;
    border-top: 1px solid #1e90ff44;
}

/** Contact Link */
.contact-link {
    color: #1e90ff;
    font-weight: bold;
    text-decoration: none;
}

/** Contact Link Hover */
.contact-link:hover {
    text-decoration: underline;
    color: #0f6fcc;
}


/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #000;
        padding: 20px;
        position: absolute;
        right: 10px;
        top: 60px;
        border-radius: 10px;
        border: 1px solid #1e90ff55;
    }

    .hamburger {
        display: block;
    }
}
